<h3 class="m-5">Edit Your Comment:</h3>

<div class="m-5">
    <form class="form new-comment-form w-25">
        <div class="form-group">
            <label for="comment-content">Content:</label>
            <textarea class="form-input" id="comment-content" name="comment-content" placeholder="{{content}}"></textarea>
        </div>
        <div class="form-group comment-edit-button">
            <button class="btn btn-primary" data-edit-id="{{id}}">Submit Edit</button>
        </div>
    </form>
</div>

<script src="/js/editcomment.js"></script>